<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UserHeadPath" value="/Resources/Heads/h1.png" />
    <add key="UserName" value="索隆" />
    <add key="UserAutograph" value="真男人！" />
    <add key="LocalIP" value="20.1.38.56" />
    <add key="LocalPort" value="6666" />
    <add key="ServerIP" value="20.1.38.56" />
    <add key="ServerPort" value="9999" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
